
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  max-width: 100vw;
  font-size: 16px;
}

button,
input { border: none; }
ul { list-style: none; }
button { cursor: pointer; }
a { text-decoration: none ;}
